<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of all schedules</title>
  </head>
  <body>
    <h1>Shedules</h1>
    <h3>Here are list of all the shedules</h3>
    <table>
        <tr>
        <th>Name:</th>
        <th>Surname</th>
        <th>When:</th>
        <th>Start:</th>
        <th>Finish:</th>
        </tr>
       
        <% for (let i=0; i<schedule.length; i++) { %>
            
            <tr>
            <td><b><%=schedule[i].firstname%> </b></td>
            <td><b><%=schedule[i].lastname%></b></td>
            <td><%=schedule[i].week_day%></td>
            <td><%=schedule[i].start_time%></td>
            <td><%=schedule[i].end_time%></td>
            </tr>
    
        <% } %>
        
    </table>
  </body>
</html>
